
@solarized-dark-base03: #002b36;
@solarized-dark-base02: #073642;
@solarized-dark-base01: #586e75;
@solarized-dark-base00: #657b83;

@solarized-light-base0: #839496;
@solarized-light-base1: #93a1a1;
@solarized-light-base2: #eee8d5;
@solarized-light-base3: #fdf6e3;

@solarized-yellow: #b58900;
@solarized-orange: #cb4b16;
@solarized-red: #dc322f;
@solarized-magenta: #d33682;
@solarized-violet: #6c71c4;
@solarized-blue: #268bd2;
@solarized-cyan: #2aa198;
@solarized-green: #859900;

@site-brand-height: 8rem;

@space: 32px;
@space-m-3: 3 * @space;
@space-d-2: @space / 2;

html {
  margin: 0;
  padding: 0;
  text-align: left;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'IM Fell English', serif;
  font-size: 16px;

  padding: @space;
  margin: auto;

  background: @solarized-light-base3;
  color: @solarized-dark-base03;
}


h1,
h2,
h3,
h4,
h5 {
  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

h1 {
  color: @solarized-dark-base00;
  font-size: 1.75rem;
}

h2 {
  color: @solarized-dark-base01;
  font-size: 1.50rem;
}

h3 {
  color: @solarized-dark-base02;
  font-size: 1.25rem;
}

a {
  color: @solarized-orange;

  &:hover,
  &:active {
    color: @solarized-yellow;
  }
}

hr {
  border: none;
  margin: @space 0;
  height: 2px;
  background-color: @solarized-orange;
}


main {
  max-width: 750px;
  margin: auto;

  header {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    
    div.site-brand {
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      
      img {
        height: @space-m-3;
      }

      h1 {
        line-height: @space-m-3;
      }
    }

  }

  article {
    &.listing {
      margin-top: @space;

      h1 {
        margin-bottom: 0;
      }
    }

    .meta-details,
    .neighbors {
      color: @solarized-light-base0;
      display: flex;
    }

    .neighbors {
      justify-content: space-between;
    }

    .meta-details {
      flex-direction: column;
    }

    blockquote {

      color: @solarized-dark-base02;
      background-color: @solarized-light-base2;

      padding: @space-d-2;
      margin: @space-d-2 0;

      p.annotation {
        font-weight: bold;
      }
    }
  }

  div.credits {
    color: @solarized-light-base0;
    font-size: 0.75rem;
  }
}

