{% extends "base.html" %}

{% block title %}
{{ MESA_ARCHIVES }}
{% endblock %}

{% block content %}
<article>
    <h1>{{ MESA_ARCHIVES }} </h1>

    {% for article in dates %}
    <span>
        {{ article.locale_date }} {{ MESA_SEPARATION_STR }}

        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
        </a>

    </span>
    {% endfor %}
</article>
{% endblock %}
