{% extends "base.html" %}
{% block head %}
<!--
        <meta   name="keywords"
                content="{{ article.tags|join(', ')  }}">
-->
{% endblock %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<article>
    <div class="article_title">
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    </div>

    <div class="meta">
        <p>{{ MESA_AUTHOR_S }}:
           {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">
                {{ author }}
            </a>
           {% if not loop.last %}
           ,
           {% endif %}
           {% endfor %}
        </p>

        <p> {{ MESA_CATEGORY }}:
            {% for category in article.category.ancestors or [article.category] %}
            <a href="{{ SITEURL }}/{{ category.url }}">
                {{ category.shortname or category | lower }}
            </a>
            {% if not loop.last %}
            &gt;
            {% endif %}
            {% endfor %}
        </p>

        <!--
        <p>
            {% if article.tags %}
            {{ MESA_TAGS }}:

            {% for tag in article.tags %}

            <a href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag | lower }}
            </a>

            {% if not loop.last %}
            ,
            {% endif %}

            {% endfor %}

            {% endif %}
        </p>
        -->

        <p>
            {{ MESA_POSTED }}: {{ article.locale_date}}
        </p>

        <p>
            {{ MESA_MODIFIED }}: {{ article.locale_modified }}
        </p>
    </div>

    <div>
        {{ article.content }}

        {% if article.photo_gallery %}
        {% for title, gallery in article.photo_gallery %}

        <h3>{{ MESA_GALLERY }}: {{ title }}</h3>
        <div class="gallery">
            {% for name, photo, thumb, exif, caption in gallery %}
            <figure>
                <a href="{{ SITEURL }}/{{ photo }}">
                    <img src="{{ SITEURL}}/{{ thumb }}">
                </a>
                <figcaption>
                    <a href="{{ SITEURL }}/{{ photo }}">
                        <em>{{ name }}</em>
                    </a>
                    {% if caption %}
                    : {{ caption }}
                    {% endif %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
    </div>


    {% if article.prev_article or article.next_article %}
    <div class="meta">
        {% if article.prev_article %}
        <div class="left">
            <p>
                &lt; {{ MESA_PREVIOUS }}
                <a href="{{ SITEURL }}/{{ article.prev_article.url }}">
                    {{ article.prev_article.title }}
                </a>
            </p>
        </div>
        {% endif %}

        {% if article.next_article %}
        <div class="right">
            <p>
                {{ MESA_NEXT }}
                <a href="{{ SITEURL }}/{{ article.next_article.url }}">
                    {{ article.next_article.title }}
                </a>
                &gt;
            </p>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if article.similar_posts %}
    <div class="meta">
        <p>{{ MESA_SIMILAR_ARTICLES }}:</p>
        <ul>
            {% for meta in article.similar_posts %}
            <li>
                <a href="{{ SITEURL }}/{{ meta.url }}">
                    {{ meta.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>
{% endblock %}
