{% extends "base.html" %}
{% block head %}
<!--
        <meta   name="keywords"
                content="{{ article.tags|join(', ')  }}">
-->
{% endblock %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<article>
    <div>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    </div>

    <div class="meta-details">
        <span>{{ MESA_AUTHOR_S }}:
           {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">
                {{ author }}
            </a>
           {% if not loop.last %}
           ,
           {% endif %}
           {% endfor %}
        </span>

        <span> {{ MESA_CATEGORY }}:
            {% for category in article.category.ancestors or [article.category] %}
            <a href="{{ SITEURL }}/{{ category.url }}">
                {{ category.shortname or category | lower }}
            </a>
            {% if not loop.last %}
            &gt;
            {% endif %}
            {% endfor %}
        </span>

        <!--
        <span>
            {% if article.tags %}
            {{ MESA_TAGS }}:

            {% for tag in article.tags %}

            <a href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag | lower }}
            </a>

            {% if not loop.last %}
            ,
            {% endif %}

            {% endfor %}

            {% endif %}
        </span>
        -->

        <span>
            {{ MESA_POSTED }}: {{ article.locale_date}}
        </span>

        <span>
            {{ MESA_MODIFIED }}: {{ article.locale_modified }}
        </span>
    </div>

    {{ article.content }}


    {% if article.prev_article or article.next_article %}
    <div class="neighbors">
        {% if article.prev_article %}
        <span>
            &lt; {{ MESA_PREVIOUS }}
            <a href="{{ SITEURL }}/{{ article.prev_article.url }}">
                {{ article.prev_article.title }}
            </a>
        </span>
        {% endif %}

        {% if article.next_article %}
        <span>
            {{ MESA_NEXT }}
            <a href="{{ SITEURL }}/{{ article.next_article.url }}">
                {{ article.next_article.title }}
            </a>
            &gt;
        </span>
        {% endif %}
    </div>
    {% endif %}

</article>
{% endblock %}
