<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="author"
          content="{{ AUTHOR }}">
    <meta name="description"
          content="Posts and writings by {{ AUTHOR }}">

    <link rel="stylesheet"
          type="text/css"
          href="{{ SITEURL }}/theme/css/style.css">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
          type="application/atom+xml"
          rel="alternate"
          title="{{ SITENAME }} Atom"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
          type="application/rss+xml"
          rel="alternate"
          title="{{ SITENAME }} RSS"/>
    {% endif %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
    </style>

    {% block head %}
    {% endblock %}

    <title>
        {{ SITENAME }}
        {{ MESA_SEPARATION_STR }}
        {% block title %}
        {% endblock %}
    </title>


</head>

<body>

<main>
    <header>

        <div class="site-brand">
            <h1>
                <a href="{{ SITEURL }}">
                    {{ SITENAME }}
                </a>
            </h1>
            <a href="{{ SITEURL }}">
                <img src="{{ SITEURL }}/{{ SITE_LOGO_URL }}"
                     alt="site-logo">
            </a>
        </div>

        <p>{{ TAGLINE }}</p>

        <nav>
            <a href="{{ SITEURL }}">
                {{ MESA_HOME }}
            </a>
            {{ MESA_SEPARATION_STR }}

            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
            <a href="{{ SITEURL }}/{{ p.url }}">
                {{ p.title | lower }}
            </a>
            {{ MESA_SEPARATION_STR }}
            {% endfor %}
            {% endif %}

            <a href="{{ SITEURL }}/archives.html">
                {{ MESA_ARCHIVES }}
            </a>
            {{ MESA_SEPARATION_STR }}
            <a href="{{ SITEURL }}/categories">
                {{ MESA_CATEGORIES }} [{{ categories | count }}]
            </a>
            {{ MESA_SEPARATION_STR }}
            <a href="{{ SITEURL }}/authors">
                {{ MESA_AUTHORS }} [{{ authors | count }}]
            </a>
            {{ MESA_SEPARATION_STR }}
            <!--
            <a href="{{ SITEURL }}/tags">
                {{ MESA_TAGS }} [{{ tags | count }}]
            {{ MESA_SEPARATION_STR }}
            </a>
            -->

            {% if FEED_ALL_ATOM %}
            {{ MESA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
                {{ MESA_ATOM }}
            </a>
            {% endif %}
            {% if FEED_ALL_RSS %}
            {{ MESA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                {{ MESA_RSS }}
            </a>
            {% endif %}
        </nav>

        </div>

        {% block header %}
        {% endblock header %}

        <hr>

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <span>&copy; {{ OWNER }}. built using <a href="https://python.org">python</a> and <a
                href="https://getpelican.com"
                target="_blank">pelican</a>.
           theme inspired by <a href="https://ethanschoonover.com/solarized/"
                                target="_blank">solarized</a>.</span>
    </footer>
</main>

</body>
</html>
