{% extends "base.html" %}

{% block title %}
{{ MESA_CATEGORIES }}
{% endblock %}

{% block content %}
<article>
    <h1>{{ MESA_CATEGORIES }}</h1>
    <ul>

        {% for category, articles in categories|sort %}
        <li>

            {% if category.ancestors %}
            {% for ancestor_category in category.ancestors[:-1] %}

            <span>{{ ancestor_category.shortname | lower }}</span>
            &gt;

            {% endfor %}
            {% endif %}

            <a href="{{ SITEURL }}/{{ category.url }}">{{ category.shortname | lower}}</a>

            <span>[{{ articles|count }} {{ MESA_ARTICLES }}]</span>

            {% if category.page %}
            <span>{{ category.page.content }}</span>
            {% endif %}

        </li>
        {% endfor %}

    </ul>
</article>
{% endblock %}
