{% extends "base.html" %}

{% block title %}
{{ TAGLINE }}
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}

<article class="listing">
    <h1>
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
        </a>
    </h1>

    <div class="meta-details">
        <p>
            {{ article.locale_date }}
            {{ MESA_SEPARATION_STR }}

            <!-- only show first author and complete categorization for cleanliness -->
            {{ MESA_AUTHOR }}: {{ article.author }}
            {{ MESA_SEPARATION_STR }}
            {{ MESA_CATEGORY }}:
            {% for category in article.category.ancestors or [article.category] %}
            {{ category.shortname or category | lower }}
            {% if not loop.last %}
            &gt;
            {% endif %}
            {% endfor %}
        </p>
    </div>

    {{ article.summary  }}

    {% if not loop.last %}
    <!--<hr>-->
    {% endif %}

</article>
{% endfor %}
{% endblock %}


