{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<article>
    <div>
        <h2>
            {% for ancestor in page.parents %}
            <span href="{{ SITEURL }}/{{ancestor.url}}">{{ ancestor.title | lower }}</span> &gt;
            {% endfor %}
            <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title | lower }}</a>
        </h2>
    </div>
    <div>

        {{ page.content }}

        <ul>
            {% for child in page.children %}
            <li>
                <a href="{{ SITEURL }}/{{ child.url }}">{{ child.title
                    | lower }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if page.locale_date %}
    <span>{{ MESA_MODIFIED }}: {{ page.locale_date }}</span>
    {% endif %}

</article>
{% endblock %}
