{% extends "base.html" %}

{% block title %}
{{ MESA_TAGS }}
{% endblock %}

{% block content %}
<article>
        <h1>{{ MESA_TAGS }}</h1>
        <ul>
                {%- for tag, articles in tags|sort %}
                <li>
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | lower}}</a>
                        <span>[{{ articles|count }} {{ MESA_ARTICLES }}]</span>

                        {% if tag.page %}
                        <span>{{ tag.page.content }}</span>
                        {% endif %}

                </li>
                {% endfor %}
        </ul>
</article>
{% endblock %}
